<!DOCTYPE html>
<html>
	<head>
		<title>东方神鹰冷库综合监控中心</title>

		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="js/js2wordcloud.min.js"></script>
		<!--调试版-->
		<script src="https://unpkg.com/@jiaminghi/data-view/dist/datav.map.vue.js"></script>

	</head>
	<body>
		<div id="app" style="background-color: #070A17" v-cloak>
			<dv-full-screen-container class="container-bg">
				<el-row type="flex" justify="center" style="padding:10px 0">
					<el-col :span="4">
						<dv-decoration-8 style="width:300px;height:50px;" />
					</el-col>
					<el-col :span="4" style="text-align: center;">
						<span style="color: #2AC8E3;font-size: 16px;line-height: 50px;font-weight: 400;">{{gettime}}</span>
					</el-col>
					<el-col :span="8" style="padding-top: 5px;">
						<div style="color:#FFFFFF;font-size:28px;font-weight:600;text-align:center">东方神鹰<span style="font-size: 16px;vertical-align: top;color:darkorange">®</span>&nbsp;冷库业务综合监控中心</div>
					</el-col>
					<el-col :span="4" style="text-align: right;">
						<span style="color: #2AC8E3;font-size: 16px;line-height: 50px;font-weight: 600;">青岛汇通丰源供应链管理有限公司</span>
					</el-col>
					<el-col :span="4">
						<dv-decoration-8 :reverse="true" style="width:300px;height:50px;margin-left:auto" />
					</el-col>
				</el-row>
				<div class="" style="padding-left: 20px; padding-right: 20px;">
					<el-row :gutter="12" class="margin-top">
						<el-col :span="3" v-for="(item,index) in areaList" class="">
							<el-card shadow="never" class="cardStyleA border3 " style="height: 126px; position: relative;text-align: center;">
								<div class="card-content">
									<span class="card-tag"></span>
									<span class="card-number " :class="item.c">{{item.v}}<span style="font-size: 16px; color: #fff; padding-left:6px;">{{item.u}}</span></span>
								</div>
								<div class="cardtitleB">
									<span class="padding-lr">{{item.n}}</span>
								</div>

							</el-card>
						</el-col>
					</el-row>
					<div class="" style="margin: 0 auto;text-align: center;margin:10px 0;">
						<img src="img/guangdian.png">
					</div>
					<el-row :gutter="12" class="noborder">
						<el-col :span="5">
							<el-card shadow="never" class="cardStyleA border2" style="height: 450px;">
								<h4 class="cardtitleA">客户分布</h4>
								<div id="container1" ref="container1" style="width:94%;height:380px;margin: 0 auto;"></div>
							</el-card>
						</el-col>
						<el-col :span="3">
							<el-card shadow="never" class="cardStyleA border3" style="height: 110px;">
								<h4 class="cardtitleA">平均在库天数</h4>
								<el-row :gutter="6" style="margin: 10px 0;">
									<el-col :span="4" :offset="5">
										<div class="numBox">
											<p></p>
										</div>
									</el-col>
									<el-col :span="4">
										<div class="numBox">
											<p>2</p>
										</div>
									</el-col>
									<el-col :span="4">
										<div class="numBox">
											<p>3</p>
										</div>
									</el-col>
									<el-col :span="4">
										<p style="font-size: 16px; color: #fff; margin:10px 0 0;">天</p>
									</el-col>
								</el-row>
							</el-card>
							<el-card shadow="never" class="cardStyleA border1 margin-top" style="height: 320px;">
								<h4 class="cardtitleA">库存总量</h4>
								<div class="">
									<dv-water-level-pond :config="averageDays" style="width:140px;height:200px; margin: 14px auto 0;" />
								</div>
							</el-card>
						</el-col>
						<el-col :span="10">
							12
						</el-col>
						<!-- <el-col :span="3">
							<el-card shadow="never" class="cardStyleA border1" style="height: 215px;">
								<h4 class="cardtitleA">平均在库天数</h4>
							</el-card>
							<el-card shadow="never" class="cardStyleA border1 margin-top" style="height: 215px;">
								<h4 class="cardtitleA">平均库存量</h4>
							</el-card>
						</el-col> -->
						<el-col :span="6">
							<el-card shadow="never" class="cardStyleA border2" style="height: 450px;">
								<h4 class="cardtitleA">品类分布</h4>
								<dv-charts :option="chartDetails1" style="width100%;height:322px;" v-if="showN"></dv-charts>
								<dv-charts :option="chartDetails2" style="width100%;height:322px;"  v-if="!showN"></dv-charts>
								<el-row :gutter="10">
									<el-col :span="12">
										<el-card shadow="never" class="card-bg" :class="showN?'is-active':''" @click.native="showN=true">
											<img src="img/monitor/bingtu1.png" style="width: 30px; vertical-align: middle;margin-right: 10px;">
											<p style="display: inline-block; margin: 0; color: #fff;">品类分布</p>
										</el-card>
									</el-col>
									<el-col :span="12">
										<el-card shadow="never" class="card-bg"  :class="!showN?'is-active':''" @click.native="showN=false">
											<img src="img/monitor/bingtu2.png" style="width: 30px; vertical-align: middle;margin-right: 10px;">
											<p style="display: inline-block; margin: 0; color: #fff;">非标品分布</p>
										</el-card>
									</el-col>
								</el-row>
							</el-card>
						</el-col>
					</el-row>
					<el-row :gutter="12" class="noborder margin-top">
						<el-col :span="8">
							<el-card shadow="never" class="cardStyleA border2" style="height: 320px;">
								<el-row>
									<el-col :span="12">
										<h4 class="cardtitleA">在库时间</h4>
									</el-col>
									<el-col :span="12"></el-col>
								</el-row>
								<div style="margin-top: 10px;">
									<dv-scroll-board :config="zaikuTime" style="width:100%;height:250px " />
								</div>
							</el-card>
						</el-col>
						<el-col :span="8">
							<el-card shadow="never" class="cardStyleA border2" style="height: 320px;">
								<el-row>
									<el-col :span="12">
										<h4 class="cardtitleA">库存变动</h4>
									</el-col>
									<el-col :span="12" style="text-align: right;">
										<span class="btnStyle " :class="ifWeek?'is-active':''" @click="switchKucun">近一周</span>
										<span class="btnStyle" :class="!ifWeek?'is-active':''" @click="switchKucun">近一月</span>
										
									</el-col>
								</el-row>
								<dv-charts :option="storagechangeList" style="width:100%;height:260px;margin:0 auto"></dv-charts>
							</el-card>
						</el-col>
						<el-col :span="8">
							<el-card shadow="never" class="cardStyleA border2" style="height: 320px;">
								<div>
									<h4 class="cardtitleA">财务统计</h4>
								</div>
								<el-row class="text-white" style="margin-top: 10px;">
									<el-col :span="12" style="text-align: center;">
										签收金额&nbsp;&nbsp;
										<span class="card-number2 text-green">{{oweNumber}}元</span>
									</el-col>
									<el-col :span="12" style="text-align: center;">
										欠款金额&nbsp;&nbsp;
										<span class="card-number2 text-orange">{{oweNumber}}元</span>
									</el-col>
								</el-row>
								<div style="margin-top: 10px;">
									<dv-scroll-board :config="qiankuanTime" style="width:100%;height:220px " />
								</div>
							</el-card>
						</el-col>
					</el-row>
				</div>
			</dv-full-screen-container>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: function() {
					return {
						systemName: "东方神鹰冷库业务综合监控中心",
						gettime: '',
						showN:true,
						ifWeek:true,
						inNumber:'123032303',
						oweNumber:'133032303',
						averageDays:{
							data: [66, 45],
							shape: 'roundRect',
							waveNum:'4',
							waveHeight:'8',
							waveOpacity:'0.3',
							colors:['#0067e6', '#2895de']
						},
						chartDetails1: {
							  series: [
							    {
							         type: 'pie',
							         data: [
							          { name: '标准件', value: 400 },
							          { name: '非标准件', value: 100 }
							         ],
							         insideLabel: {
							           show: true
							         }
							       }
							  ],
						},
						chartDetails2: {
							  series: [
							    {
							         type: 'pie',
							         data: [
							          { name: '羊六分体', value: 34 },
							          { name: '牛六分体', value: 40 },
							          { name: '水产品', value: 10 },
							          { name: '辣椒', value: 16 }
							         ],
							         insideLabel: {
							           show: true
							         }
							       }
							  ],
						},
						areaList: [{n:"货物入库",v:"35",u:"/ 50",c:"text-orange"},
									{n:"货物出库",v:"350",u:"/ 431",c:"text-orange"},
									{n:"货物倒柜",v:"350",u:"/ 431",c:"text-orange"},
									{n:"货物转移",v:"350",u:"/ 431",c:"text-orange"},
									{n:"货物核酸检测",v:"350",u:"/ 431",c:"text-blue"},
									{n:"货物消毒",v:"350",u:"/ 431",c:"text-blue"},
									{n:"货物质押",v:"350",u:"/ 431",c:"text-blue"},
									{n:"入库重量/出库重量",v:"20吨",u:"/ 50吨",c:"text-blue"},],
						flag: false,
						wc:null,
						wordCloud:{
							  backgroundColor:'rgba(0, 0, 0, 0)',
							  tooltip: {
								  backgroundColor: 'rgba(0, 0, 0, 0)',
								  show: true
							  },
							  fontSizeFactor:0.01,
							   maxFontSize:50,
							   minFontSize:8,
							   imageShape: 'img/kun.jpg',
							   ellipticity: 1,
							  list: [
								  ['青岛新协航国际物流有限公司',80893601],
								  ['青岛新协航国际物流有限公司',31644379],
								  ['青岛新协航国际物流有限公司',31415253],
								  ['青岛新协航国际物流有限公司',22743867],
								  ['青岛新协航国际物流有限公司',21867730],
								  ['青岛新协航国际物流有限公司',21588372],
								  ['青岛新协航国际物流有限公司 ',19782638],
								  ['青岛新协航国际物流有限公司',19532415],
								  ['青岛新协航国际物流有限公司',19217348],
								  ['青岛新协航国际物流有限公司',18840698],
								  ['青岛新协航国际物流有限公司',18597007],
								  ['青岛新协航国际物流有限公司',17232145],
								  ['青岛新协航国际物流有限公司',15966186],
								  ['青岛新协航国际物流有限公司',12911408],
								  ['青岛新协航国际物流有限公司',12808069],
								  ['青岛新协航国际物流有限公司',12387148],
								  ['青岛新协航国际物流有限公司 ',12334256],
								  ['青岛新协航国际物流有限公司',11796440],
								  ['青岛新协航国际物流有限公司',10566043],
								  ['青岛新协航国际物流有限公司',10526724],
								  
								  
								  ],
							  color: '#15a4fa'
						  },
						  zaikuTime:{
						  	  header: ['客户名称','平均在库时长(天)', '当前在库货物(吨)'],
						  	  data: [
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
						  		['青岛新协航国际物流有限公司', '20', '1002'],
								['青岛新协航国际物流有限公司', '20', '1002'],
						  		['', '', '','', ''],
						  		['', '', '','', ''],
						  		['', '', '','', ''],
						  	  ],
							  headerHeight:36,
							  rowNum:6,
						  	  index: true,
						  	  columnWidth: [50,220],
						  	  indexHeader:'',
						  	  align: ['center','center','center','center'],
						  	  headerBGC:'#0088ff44',
						  	  oddRowBGC:'#004cff22',
						  	  evenRowBGC:'#0000ff11',
						  	  carousel:'page',
						  	  waitTime:8000
						  	},
							qiankuanTime:{
								  header: ['柜号','客户','欠款额(元)', '天数(天)'],
								  data: [
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['CDFH0000000','青岛XXXXXX国际物流有限公司', '20000000', '100'],
									['', '', '','', ''],
									['', '', '','', ''],
									['', '', '','', ''],
									
								  ],
								  headerHeight:36,
								  rowNum:6,
								  index: false,
								  columnWidth: [150,220,150,80],
								  indexHeader:'',
								  align: ['center','center','center','center'],
								  headerBGC:'#0088ff44',
								  oddRowBGC:'#004cff22',
								  evenRowBGC:'#0000ff11',
								  carousel:'page',
								  waitTime:8000
								},
							storagechangeList:{
								  title: {
									text: ''
								  },
								  legend: {
									data: ['A库', 'B库', 'C库'],
									textStyle: {
									  fontSize: 13,
									  fill: '#fff'
									}
								  },
								  xAxis: {
									  axisLabel: {
									  	style: {
									  		fill: '#fff',
									  		fontSize: 10,
									  		rotate: 0
									  	}
									  },
									  axisLine: {
									  	style: {
									  		stroke: '#fff',
									  		lineWidth: 1
									  	}
									  },
									  nameTextStyle: {
									  	fill: '#67e0e3',
									  	fontSize: 14
									  },
									name: '',
									data: ['2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27', '2021-01-03', '2021-01-10', '2021-01-17']
								  },
								  yAxis: {
									  splitLine: {
										show: false
									  },
									  axisLabel: {
									  	style: {
									  		fill: '#fff',
									  		fontSize: 10,
									  		rotate: 0
									  	}
									  },
									  axisLine: {
									  	style: {
									  		stroke: '#fff',
									  		lineWidth: 1
									  	}
									  },
									  nameTextStyle: {
									  	fill: '#67e0e3',
									  	fontSize: 14
									  },
									name: '金额（万元）',
									data: 'value'
								  },
								  series: [
									{
									  name: 'A库',
									  data: [343, 345, 434, 235, 456, 678, 587],
									  type: 'line',
									  label: {
										  show: true,
										  formatter: '{value}'
										},
									  stack: 'a',
									  fill: {
										show: true
									  }
									},
									{
									  name: 'B库',
									  data: [180, 223, 240, 210, 214, 200, 185],
									  type: 'line',
									  label: {
										  show: true,
										  formatter: '{value}'
										},
									  stack: 'a',
									  smooth: true
									},
									{
									  name: 'C库',
									  data: [800, 334, 234, 235, 456, 546, 234],
									  type: 'line',
									  label: {
										  show: true,
										  formatter: '{value}'
										},
									  stack: 'a',
									  smooth: true
									},
									{
									  name: '销售额',
									  data: [1323, 902, 908, 680, 1126, 1424, 1002],
									  type: 'bar',
									  gradient: {
										color: ['rgba(103, 224, 227, .6)', 'rgba(103, 224, 227, .1)']
									  },
									  barStyle: {
										stroke: 'rgba(103, 224, 227, 1)'
									  }
									}
								  ],
								  color: ['#ff9f7f', '#96bfff', '#ffdb5c', '#9fe6b8', '#ff9f7f', '#67e0e3', '#a02200', '#5d1400', '#b72700']
								},
					}
				},
				created:function(){
					this.currentTime()
				},
				mounted:function(){
					setInterval(this.switchPie, 3000)
				},
				updated:function(){
					var _this = this
					if(!this.flag){
						_this.wc = new Js2WordCloud(document.getElementById("container1"))
						// this.wc = new Js2WordCloud(this.container)
						_this.wc.setOption(_this.wordCloud)
						this.flag = true
					}
				},
				methods:{
					switchKucun:function(){
						this.ifWeek = !this.ifWeek
						if(this.ifWeek){//取每周数据
							
						}else{//取每月数据
							
						}
					},
					getTime: function() {
						var _this = this;
						let yy = new Date().getFullYear();
						let mm = new Date().getMonth() + 1;
						let dd = new Date().getDate();
						let hh = new Date().getHours();
						let mf = new Date().getMinutes() < 10 ? '0' + new Date().getMinutes() : new Date().getMinutes();
						let ss = new Date().getSeconds() < 10 ? '0' + new Date().getSeconds() : new Date().getSeconds();
						_this.gettime = yy + '年' + mm + '月' + dd + '日 ' + hh + ':' + mf + ':' + ss;
					},
					switchPie(){
						this.showN = !this.showN
					},
					currentTime() {
						setInterval(this.getTime, 500)
					}
				}
			}) ;
		</script>
	</body>
</html>

<style type="text/css">
	[v-cloak] {
		display: none !important;
	}

	.container-bg {
		background: url(img/bg-img.png) left top no-repeat;
		flex-flow: row nowrap;
		justify-content: center;
		outline: none;
	}

	.bg-red {
		background-color: #f5310a;
	}

	.bg-orange {
		background-color: #ffaa00;
	}

	.bg-green {
		background-color: #67cf99;
	}
	.text-green {
		color: #67cf99;
	}
	.text-orange {
		color: #FFB026;
	}
	.text-white {
		color: #ffffff;
	}
	.text-blue {
		color: #25D9F4;
	}

	.card-number {
		padding: 0 5px 0 5px;
		font-size: 28px;
		font-weight: 500;
	}
	.card-number2 {
		padding: 0 5px 0 5px;
		font-size: 18px;
		font-weight: 500;
	}
	.margin-top {
		margin-top: 20px;
	}

	html,
	body,
	#app {
		/* font-family: "agency fb"; */
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		background-color: #070A17
	}

	.cardStyleA {
		background: #061e5d80;
		/* border: 1px solid #00AAFF99; */
		box-shadow: #0044cc99 0px 0px 18px inset;
		/* padding: 20px; */
		border-radius: 0;
	}

	.border3 {
		background-image: url("img/monitor/border3T.png"), url("img/monitor/border3B.png");
		background-repeat: no-repeat, no-repeat;
		background-position: 0 0, 100% 100%;
	}

	.border1 {
		background-image: url("img/monitor/border1T.png"), url("img/monitor/border1B.png");
		background-repeat: no-repeat, no-repeat;
		background-position: 0 0, 100% 100%;
	}

	.border2 {
		background-image: url("img/monitor/border2T.png"), url("img/monitor/border2B.png");
		background-repeat: no-repeat, no-repeat;
		background-position: 0 0, 100% 100%;
	}

	.el-card {
		border: none;
	}

	.el-card__body {
		padding: 12px;
	}

	.cardtitleA {
		margin: 0;
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
	}

	.cardtitleB {
		margin: 0;
		color: #8DD1FF;
		font-size: 16px;
	}

	.card-content {
		padding: 14px 0 10px 0;
		text-align: center;
	}

	.btnStyle {
		width: 60px;
		background-color: #006AFF66;
		color: #fff;
		line-height: 26px;
		padding: 4px 12px;
		font-size: 12px;
	}

	.btnStyle.is-active {
		background-color: #0055cc;
	}

	.el-carousel__item h3 {
		color: #475669;
		font-size: 14px;
		opacity: 0.75;
		line-height: 200px;
		margin: 0;
	}

	.el-carousel__item:nth-child(2n) {
		background-color: #99a9bf;
	}

	.el-carousel__item:nth-child(2n+1) {
		background-color: #d3dce6;
	}

	.cardNone .el-card__body {
		padding: 0;
	}

	.card-bg {
		background-color: #004fde30;
	}

	.card-bg.is-active {
		background-color: #004fde80;
	}

	.numBox {
		height: 30px;
		background: #061e5d80;
		box-shadow: #0044cc99 0px 0px 8px inset;
		border: 1px solid #00FFFF40;
		border-radius: 4px;
	}

	.numBox p {
		font-size: 28px;
		margin: 0;
		line-height: 30px;
		color: #FFB026;
		padding-left: 4px;
	}
</style>
